@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --bg-body-rgb: #000000;
    --bg-section-rgb: #1d1d1d;
    --text-color-rgb: #FBFBFB;
    --text-color-footer-rgb: #FBFBFB;
    --highlight-rgb: #4de29f;
    --hover-color-rgb: #267953;
    --secundary-color-rgb: #E3624D;
    --nav-color-rgb: #000000b0;
    --footer-color-rgb: #3b3b3b;

    --font-family: 'Poppins', sans-serif;
}

.light_mode:root {
    --bg-body-rgb: #e1e1e1;
    --bg-section-rgb: #c1bfbf;
    --text-color-rgb: #101010;
    --text-color-footer-rgb: #FBFBFB;
    --highlight-rgb: #4db5e2;
    --hover-color-rgb: #327997;
    --secundary-color-rgb: #E39D4D;
    --nav-color-rgb: #e1e1e1b0;
    --footer-color-rgb: #8d8d8d;

    --font-family: 'Poppins', sans-serif;
}

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: var(--bg-body-rgb);
        font-family: var(--font-family);
        color: var(--text-color-rgb);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: background-color 1s ease-in-out, color 0.3s ease-in;
    }

    textarea {
        margin-top: 20px;
        height: 50px;
        resize: none;
        font-family: var(--fonte);
        font-size: 12px;
    }

    textarea:focus {
        font-size: 16px;
    }

    textarea:valid {
        height: 100%;
    }

    form label {
        position: absolute;
        bottom: 5px;
        left: 10px;
        font-size: 12px;
        pointer-events: none;
        transition: 0.3s;
        z-index: 1;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
    }

    form input,
    textarea {
        color: var(--cor-fontes-footer);
        width: 300px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid var(--cor-fontes-footer);
        outline: none;
        background-color: transparent;
        box-sizing: border-box;
        transition: height 0.3s;
    }

    textarea:focus {
        font-size: 16px;
    }

    textarea:valid {
        height: 100%;
    }
}

@layer components {
    .input-container {
        position: relative;
        margin-bottom: 20px;
    }

    .textarea-container {
        position: relative;
    }

    #msg-label {
        bottom: 15px;
    }

    .input-container>input:focus,
    .textarea-container textarea:focus {
        border-bottom: 2px solid var(--hover-color-rgb);
    }

    .textarea-container textarea:focus {
        height: 90px;
        font-size: 10px;
        font-family: var(--font-family);
    }

    textarea:focus+label#msg-label {
        bottom: 95px;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input:focus+label {
        bottom: 35px;
        font-size: 10px;
    }

    .animated-input label {
        transition: 0.3s;
    }

    .animated-input input:focus+label,
    .animated-input textarea:focus+label,
    .animated-input input.filled+label,
    .animated-input textarea.filled+label {
        bottom: 35px;
        font-size: 10px;
    }

    .animated-input textarea.filled+label#msg-label {
        bottom: 95px;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .line {
        border: 1px solid var(--text-color-rgb);
        width: 90%;
        opacity: 0.5;

    }

    .gradient {
        background: linear-gradient(90deg, var(--bg-body-rgb), var(--highlight-rgb));
        padding: 10px;
    }

    .button-primary {
        position: relative;
        margin-top: 20px;
        background-color: transparent;
        color: var(--cor-fontes-footer);
        border: none;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 3px;
        cursor: pointer;
    }

    .button-primary::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, var(--highlight-rgb) 0%, var(--highlight-rgb) 50%, transparent 50%, transparent 100%);
        background-size: 200% 100%;
        transition: background-position 0.5s ease-in-out, background-color 0.5s ease-in-out;
        animation: moveBackground 2s linear infinite;
    }

    .button-primary:hover::before {
        background-position: -100% 0;
        background-color: var(--highlight-rgb);
    }

    .button-primary:hover {
        text-decoration: none;
    }

    .item-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        border-radius: 10px;
        background-color: var(--bg-section-rgb);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
    }

    .item-project>img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .item-project:hover>img {
        transform: translateY(-10px);
        /* transform: scale(1.02); */
        transition: all 0.3s ease-in-out;
    }

    .item-project>p {
        max-height: 200px;
    }

    .item-project>h3 {
        margin-top: 10px;
        font-size: 1.5rem;
        color: var(--highlight-rgb);
        font-weight: bold;
    }

    .item-project>a {
        display: block;
        margin-top: 10px;
        color: var(--highlight-rgb);
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }

    .item-project>a:hover {
        background: linear-gradient(45deg, var(--highlight-rgb), var(--secundary-color-rgb));
        background-clip: text;
        background-size: 300%;
        -webkit-text-fill-color: transparent;
        animation: multicolor-animation 1s infinite;
    }

    @keyframes multicolor-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

}

@layer utilities {
    .bg-background {
        background-color: var(--bg-body-rgb);
    }

    .bg-section {
        background-color: var(--bg-section-rgb);
    }

    .text-color {
        color: var(--text-color-rgb);
    }

    .text-color-footer {
        color: var(--text-color-footer-rgb);
    }

    .text-primary {
        color: var(--highlight-rgb);
    }

    .bg-primary {
        background-color: var(--highlight-rgb);
    }

    .bg-hover-color {
        background-color: var(--hover-color-rgb);
    }

    .border-primary {
        border-color: var(--highlight-rgb);
    }

    .underline-primary {
        border-bottom: 2px solid var(--highlight-rgb);
    }

    .bg-nav {
        background-color: var(--nav-color-rgb);
    }

    .border-animation {
        animation: border-animation 5s infinite;
    }

    .bg-footer {
        background-color: var(--footer-color-rgb);
    }
}