@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --bg-body-rgb: #000000;
    --bg-section-rgb: #1d1d1d;
    --text-color-rgb: #FBFBFB;
    --text-color-footer-rgb: #FBFBFB;
    --highlight-rgb: #4de29f;
    --hover-color-rgb: #267953;
    --nav-color-rgb: #000000b0;

    --font-family: 'Poppins', sans-serif;
}

.light_mode:root {
    --bg-body-rgb: #e1e1e1;
    --bg-section-rgb: #c1bfbf;
    --text-color-rgb: #101010;
    --text-color-footer-rgb: #FBFBFB;
    --highlight-rgb: #4db5e2;
    --hover-color-rgb: #327997;
    --nav-color-rgb: #e1e1e1b0;

    --font-family: 'Poppins', sans-serif;
}

@keyframes moveBackground {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: var(--bg-body-rgb);
        font-family: var(--font-family);
        color: var(--text-color-rgb);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: background-color 1s ease-in-out, color 0.3s ease-in;
    }
}

@layer components {
    .line {
        border: 1px solid var(--text-color-rgb);
        width: 90%;
        opacity: 0.5;

    }

    .gradient {
        background: linear-gradient(90deg, var(--bg-body-rgb), var(--highlight-rgb));
        padding: 10px;
    }

    .button-primary {
        position: relative;
        margin-top: 20px;
        background-color: transparent;
        color: var(--cor-fontes-footer);
        border: none;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 3px;
        cursor: pointer;
    }

    .button-primary::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, var(--highlight-rgb) 0%, var(--highlight-rgb) 50%, transparent 50%, transparent 100%);
        background-size: 200% 100%;
        transition: background-position 0.5s ease-in-out, background-color 0.5s ease-in-out;
        animation: moveBackground 2s linear infinite;
    }

    .button-primary:hover::before {
        background-position: -100% 0;
        background-color: var(--highlight-rgb);
    }

    .button-primary:hover {
        text-decoration: none;
    }

    /* .button-primary {
        background-color: var(--highlight-rgb);
        color: var(--text-color-rgb);
        font-weight: bold;
        padding: 10px 20px;
        border: 2px solid var(--text-color-rgb);
        border-radius: 5px;
        cursor: pointer;
        /* box-shadow: 0 2px 8px var(--highlight-rgb); */
    /* animation: border-animation 5s alternate infinite; */

    /* .button-primary:hover {
        background-color: var(--hover-color-rgb);
       

        /* box-shadow: 0 0px 15px var(--highlight-rgb); */

}

@layer utilities {
    .bg-background {
        background-color: var(--bg-body-rgb);
    }

    .bg-section {
        background-color: var(--bg-section-rgb);
    }

    .text-color {
        color: var(--text-color-rgb);
    }

    .text-color-footer {
        color: var(--text-color-footer-rgb);
    }

    .text-primary {
        color: var(--highlight-rgb);
    }

    .bg-primary {
        background-color: var(--highlight-rgb);
    }

    .bg-hover-color {
        background-color: var(--hover-color-rgb);
    }

    .border-primary {
        border-color: var(--highlight-rgb);
    }

    .underline-primary {
        border-bottom: 2px solid var(--highlight-rgb);
    }

    .bg-nav {
        background-color: var(--nav-color-rgb);
    }

    .border-animation {
        animation: border-animation 5s infinite;
    }
}